<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="supportedStores" value="IKI,MAXIMA,RIMI,NORFA" />
    <add key="supportedTaxGroups" value="A,M1" />
    <add key="storageDir" value="data/db" />
    <add key="normalizationDir" value="data/norm" />
    <add key="serverURL" value="http://127.0.0.1:4444/" />
  </appSettings>
</configuration>